@{
    ViewBag.Title = "Contact Page";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <address>
        Address :
        190 Cathedral St, Glasgow G4 0RF<br />
        <span title="Phone Number"><span>Phone Number </span> : 0141 375 5555</span>
    </address>



    <address>
        <strong>Email:</strong> <a href="mailto:MefirstoTheatreComponyAdmin@gmail.com">MefirstoTheatreComponyAdmin@gmail.com</a>
    </address>

</main>